<div class="c_card u-high">
    <div class="c-card__item c-card__item--brand">
        <h1 class="c-heading">Weather in {{ location }}:</h1>
    </div>
    <div class="c-card__item c-card__item--info">
        <p class="c-paragraph">
            <img src="{{ icon }}" alt="{{ icon_alt }}">
        </p>
        <p class="c-paragraph">
            Temperature: {{ temp }}°C
        </p>
        <p class="c-paragraph">
            Wind: {{ wind_kph }} km/h
        </p>
        <p class="c-paragraph">
            Niederschlag: {{ precip }} mm
        </p>
    </div>
</div>
